<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Profile</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home">Acceuil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </nav>							
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Profile Content -->
<div class="dashboard-content">		
    <div class="container">
        <div class="">			        
            <ul class="dashborad-menus">
                <li>
                    <a [routerLink]="routes.dashboard">
                        <i class="feather-grid"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li  class="active">
                    <a [routerLink]="routes.profile">
                        <i class="fa-solid fa-user"></i> <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.mylisting">
                        <i class="feather-list"></i> <span>My Listing</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.bookmarks">
                        <i class="fas fa-solid fa-heart"></i> <span>Bookmarks</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.messages">
                        <i class="fa-solid fa-comment-dots"></i> <span>Messages</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.reviews">
                        <i class="fas fa-solid fa-star"></i> <span>Reviews</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.login">
                        <i class="fas fa-light fa-circle-arrow-left"></i> <span>Logout</span>
                    </a>
                </li>
            </ul>											
        </div>
        <div class="profile-content">
             <div class="row dashboard-info">
                <div class="col-lg-9">
                    <div class="card dash-cards">
                        <div class="card-header">
                            <h4>Profile Details</h4>																
                        </div>
                        <div class="card-body">
                            <div class="profile-photo">
                                <div class="profile-img">
                                    <div class="settings-upload-img">
                                         <img src="assets/img/profile-img.jpg" alt="profile">
                                    </div>										    
                                     <div class="settings-upload-btn">											    
                                        <input type="file" accept="image/*" name="image" class="hide-input image-upload" id="file">
                                        <label for="file" class="file-upload">Upload New photo</label>												
                                     </div>	
                                     <span>Max file size: 10 MB</span>
                                </div>                                        									
                                <a href="javascript:void(0)" class="profile-img-del"><i class="feather-trash-2"></i></a>										
                            </div>
                            <div class="profile-form">
                                 <form>
                                    <div class="form-group">
                                        <label class="col-form-label">Username</label>
                                        <div class="pass-group group-img">
                                            <span class="lock-icon"><i class="feather-user"></i></span>
                                            <input type="text" class="form-control" value="John Doe">													
                                        </div>
                                    </div> 
                                    <div class="row">
                                         <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label class="col-form-label">Addresse Email</label>
                                                <div class="group-img">
                                                    <i class="feather-mail"></i>
                                                    <input type="text" class="form-control" value="johndoe@email.com">
                                                </div>
                                            </div>
                                         </div>											
                                    </div>	
                                    <div *ngIf="user">
                                        <h2>Username : {{ user.username }}</h2>
                                        <p>Email: {{ user.email }}</p>
                                      </div>
                                      
                                      <div *ngIf="!user">
                                        <p>Chargement en cours...</p>
                                      </div>									 
                                 </form>
                            </div> 
                        </div>								
                    </div>	
                </div>
                <div class="col-lg-3">
                    <div class="profile-sidebar">
                        <div class="card">
                            <div class="card-header">
                                <h4>Changer Mot de Passe</h4>
                            </div>	
                            <div class="card-body">
                               <form>
                                    <div class="form-group">
                                        <label class="col-form-label">Mot de Passe Courant</label>
                                        <div class="pass-group group-img">
                                            <span class="lock-icon"><i class="feather-lock"></i></span>
                                            <input type="password" class="form-control pass-input" placeholder="Mot de Passe">													
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Nouveau Mot de Passe</label>
                                        <div class="pass-group group-img">
                                            <span class="lock-icon"><i class="feather-lock"></i></span>
                                            <input type="password" class="form-control pass-input" value="..............">
                                            
                                            <span  [ngClass]="Toggledata == true ? 'toggle-password feather-eye' : 'toggle-password feather-eye-off'"  (click)="iconLogle()"></span>
                                        </div>
                                    </div>	
                                    <button class="btn btn-primary" type="submit"> Changer Mot de Passe</button>											
                               </form>								
                            </div>  									
                        </div>							
                    </div>
                </div>							
             </div>				
        </div>
    </div>		
</div>		
<!-- /Profile Content -->
