<p>specialite-add works!</p>
<!-- TODO add specialité required -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Ajouter un événement</h4>
                    </div>
                    <div class="card-body">
                        <form (ngsubmit)="add()" #form="ngForm">
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nom de la specialité" [(ngModel)]="name" required>
                                    </mat-form-field>
                                </div>
                              </div>
                                <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Description de la specialité" [(ngModel)]="description" required></textarea>
                                   </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                
                              </div>

                            <label>Images specialité</label>
                            <div class="row">
                              <div class="col-md-12">
                                <input type="file" id="ingImg" (change)="onFileSelected($event)">
                            </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="add()">Ajouter</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>