<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- Breadscrumb Section -->
    <div class="breadcrumb-bar">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Se Connecter</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="routes.home">Acceuil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Se Connecter</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadscrumb Section -->

    <!-- Login Section -->
    <div class="login-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5 mx-auto">
                    <div class="login-wrap">

                        <div class="login-header">
                            <h3>Bienvenue !</h3>
                            <p>Veuillez entrer vos détails</p>
                        </div>

                        <!-- Login Form -->
                        <form class="signin-form" *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                            <div class="form-group group-img">
                                <div class="group-img">
                                    <i class="feather-mail"></i>
                                    <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="form.mail" required #mail="ngModel" placeholder="Adresse Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="pass-group group-img">
                                    <i class="feather-lock"></i>
                                    <input type="password" class="form-control pass-input" id="password" name="password" [(ngModel)]="form.password"  minlength="8" maxlength="8" #password="ngModel"placeholder="Mot de Passe">
                                    <span [ngClass]="Toggledata == true ? 'toggle-password feather-eye' : 'toggle-password feather-eye-off'"  (click)="iconLogle()"></span> 
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-md-6 col-sm-6">
                                    <div class="text-md-end">
                                        <a class="forgot-link" [routerLink]="routes.forgotpassword">Mot de passe oublié ?</a>
                                    </div>
                                </div>
                            </div>
                            <button [routerLink]="routes.dashboard" class="btn btn-primary w-100 login-btn" type="submit">Se Connecter</button>
                        </form>
                            <div class="register-link text-center">
                                <p>Créer un nouveau compte ? <a class="forgot-link" [routerLink]="routes.signup">S'inscrire</a></p>
                            </div>
                            <div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">Se connecter avec les Réseaux Sociaux</span>
                            </div>
                            <br>
                            
                            <br>
                            <div class="social-login">
                            <div id="fb-root"></div>
                            <div class="fb-login-button" data-width="350" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="true"></div>
                             </div>
                             <!-- /Login Form -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Login Section -->
