<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-4">
            <button mat-raised-button class="btn btn-success btn-block"  [routerLink]="['/specialite-add']" >Ajouter une specialite</button>
        </div>
        <div class="row">
           
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Nos specialite</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Description
                                    </th>


                                </thead>
                                <tbody>
                                
                                    <tr *ngFor="let specialite of specialites">
                                        <td>
                                            <img [src]="getPlatImageUrl(specialite.specImg)" width="120" height="120">
                                        </td>
                                        <td>
                                            {{specialite.name}}
                                        </td>
                                        <td>
                                            {{specialite.description}}
                                        </td>
                                        <td>
                                            <!-- <button mat-raised-button (click)="onDelete()"> -->
                                                <i class="material-icons" (click)="onDelete()">delete</i>
                                              <!-- </button> -->
                                        </td>
                                        <td>
                                            <i class="material-icons" [routerLink]="['/evenement-update', data]">edit</i>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
